<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cabs</title>
    <link rel="stylesheet" href="/project1/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="page">
        <h1>Available Cabs</h1>
        <table>
            <tr>
                <th>Cab ID</th>
                <th>Licence Number</th>
                <th>Car Name</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Status</th>
            </tr>
            {% for cab in cabs %}
            <tr>
                <td>{{ cab.cabID }}</td>
                <td>{{ cab.licence_number }}</td>
                <td>{{ cab.car_name }}</td>
                <td>{{ cab.model }}</td>
                <td>{{ cab.capacity }}</td>
                <td>{{ cab.status }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/dashboard">Back to Dashboard</a>
    </div>

</body>
</html>
